## Analyse des donn√©es Olist :

### Manipulation :

In [1]:
import pandas as pd
from termcolor import colored as cl

# lecture des csv sous le format dataframe 

df_customer = pd.read_csv("csv/olist_customers_dataset.csv")
df_geo = pd.read_csv("csv/olist_geolocation_dataset.csv")
df_items = pd.read_csv("csv/olist_order_items_dataset.csv")
df_payments = pd.read_csv("csv/olist_order_payments_dataset.csv")
df_reviews = pd.read_csv("csv/olist_order_reviews_dataset.csv")
df_orders = pd.read_csv("csv/olist_orders_dataset.csv")
df_products = pd.read_csv("csv/olist_products_dataset.csv")
df_sellers = pd.read_csv("csv/olist_sellers_dataset.csv")
df_categ = pd.read_csv("csv/product_category_name_translation.csv")

In [2]:
# Mettre les dataframes dans un dictionnaire pour facilement les parcourir

dict_df = { "df_customer" : df_customer,
            "df_geo" : df_geo,
            "df_items" : df_items , 
            "df_payments" : df_payments ,
            "df_reviews" : df_reviews ,
            "df_orders" : df_orders ,
            "df_products" : df_products ,
            "df_sellers" : df_sellers ,
            "df_categ" : df_categ }

In [22]:
# extraction des noms de colonnes de tous les dataframes et les stocker dans un dictionnaire

dict_col = {}

row = []

for key in dict_df:

    dict_col[key] = list(dict_df[key].columns)

for i in dict_df:
    row.append(len(dict_df[i]))

row

[99441, 1000163, 112650, 103886, 99224, 99441, 32951, 3095, 71]

In [21]:
# visualiser les colonnes pour chaque dataframe
count = []
for key in dict_col:
    
    print(cl(f"\n{key} :\n\n","yellow",attrs=["bold","underline"]),cl(f"{len(dict_col[key])} colonnes\n","green"))
    print(dict_col[key])
    for i in dict_col[key]:
        count.append(len(i))

count

df_customer :

 5 colonnes

['customer_id', 'customer_unique_id', 'customer_zip_code_prefix', 'customer_city', 'customer_state']

df_geo :

 5 colonnes

['geolocation_zip_code_prefix', 'geolocation_lat', 'geolocation_lng', 'geolocation_city', 'geolocation_state']

df_items :

 7 colonnes

['order_id', 'order_item_id', 'product_id', 'seller_id', 'shipping_limit_date', 'price', 'freight_value']

df_payments :

 5 colonnes

['order_id', 'payment_sequential', 'payment_type', 'payment_installments', 'payment_value']

df_reviews :

 7 colonnes

['review_id', 'order_id', 'review_score', 'review_comment_title', 'review_comment_message', 'review_creation_date', 'review_answer_timestamp']

df_orders :

 8 colonnes

['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date']

df_products :

 9 colonnes

['product_id', 'product_category_name', 'product_name_lenght', 'product_description_lenght', 'product_photos_qty', 'product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm']

df_sellers :

 4 colonnes

['seller_id', 'seller_zip_code_prefix', 'seller_city', 'seller_state']

df_categ :

 2 colonnes

['product_category_name', 'product_category_name_english']

[11,
 18,
 24,
 13,
 14,
 27,
 15,
 15,
 16,
 17,
 8,
 13,
 10,
 9,
 19,
 5,
 13,
 8,
 18,
 12,
 20,
 13,
 9,
 8,
 12,
 20,
 22,
 20,
 23,
 8,
 11,
 12,
 24,
 17,
 28,
 29,
 29,
 10,
 21,
 19,
 26,
 18,
 16,
 17,
 17,
 16,
 9,
 22,
 11,
 12,
 21,
 29]

### Valeurs nulles et doublons :

In [5]:
# visualiser les dataframes avec des doublons

for df in dict_df:
    if dict_df[df].duplicated().any() == True:
        
        print(cl(f"\n{df} :\n\n","yellow",attrs=["bold","underline"]))
        print(dict_df[df].duplicated().sum())

df_geo :


261831

In [6]:
# dataframes avec des valeurs nules

for df in dict_df:
    if dict_df[df].isnull().values.any() == True:
        print(cl(f"\n{df} :\n\n","yellow",attrs=["bold","underline"]))
        print(dict_df[df].isna().sum())

df_reviews :


review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

df_orders :


order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

df_products :


product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [19]:
len(df_geo)

1000163

### Analyses des commandes :

In [7]:
df_orders.describe()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
count,99441,99441,99441,99441,99281,97658,96476,99441
unique,99441,99441,8,98875,90733,81018,95664,459
top,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2018-04-11 10:48:14,2018-02-27 04:31:10,2018-05-09 15:48:00,2018-05-08 23:38:46,2017-12-20 00:00:00
freq,1,1,96478,3,9,47,3,522

In [8]:
df_sellers.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [9]:
df_geo.tail()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [10]:
df_reviews["review_score"].value_counts()

5    57328
4    19142
1    11424
3     8179
2     3151
Name: review_score, dtype: int64

In [11]:
df_items[df_items['order_id']=='0008288aa423d2a3f00fcb17cd7d8719']

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
13,0008288aa423d2a3f00fcb17cd7d8719,1,368c6c730842d78016ad823897a372db,1f50f920176fa81dab994f9023523100,2018-02-21 02:55:52,49.9,13.37
14,0008288aa423d2a3f00fcb17cd7d8719,2,368c6c730842d78016ad823897a372db,1f50f920176fa81dab994f9023523100,2018-02-21 02:55:52,49.9,13.37

In [26]:
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB