## Initialisation :

In [3]:
import pandas as pd

# lecture des csv sous le format dataframe 

df_customer = pd.read_csv("csv/olist_customers_dataset.csv")
df_geo = pd.read_csv("csv/olist_geolocation_dataset.csv")
df_items = pd.read_csv("csv/olist_order_items_dataset.csv")
df_payments = pd.read_csv("csv/olist_order_payments_dataset.csv")
df_reviews = pd.read_csv("csv/olist_order_reviews_dataset.csv")
df_orders = pd.read_csv("csv/olist_orders_dataset.csv")
df_products = pd.read_csv("csv/olist_products_dataset.csv")
df_sellers = pd.read_csv("csv/olist_sellers_dataset.csv")
df_categ = pd.read_csv("csv/product_category_name_translation.csv")

In [4]:
# Mettre les dataframes dans un dictionnaire pour facilement les parcourir

dict_df = { "df_customer" : df_customer,
            "df_geo" : df_geo,
            "df_items" : df_items , 
            "df_payments" : df_payments ,
            "df_reviews" : df_reviews ,
            "df_orders" : df_orders ,
            "df_products" : df_products ,
            "df_sellers" : df_sellers ,
            "df_categ" : df_categ }

# extraction des noms de colonnes de tous les dataframes et les stocker dans un dictionnaire

dict_col = {}

for key in dict_df:

    dict_col[key] = list(dict_df[key].columns)

## Sélection des colonnes :

### Orders :

In [5]:
# Les colonnes avant suppression

list(df_orders.columns)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [6]:
# suppression des 2 colonnes "order_approved_at"et "order_delivered_carrier_date"

df_orders = df_orders.drop(axis=1,columns=["order_approved_at","order_delivered_carrier_date"])

In [8]:
# Les colonnes après suppression

list(df_orders.columns)

['order_id',
 'customer_id',
 'order_status',
 'order_purchase_timestamp',
 'order_delivered_customer_date',
 'order_estimated_delivery_date']

### Products :

In [10]:
# Les colonnes avant suppression

list(df_products.columns)

['product_id',
 'product_category_name',
 'product_name_lenght',
 'product_description_lenght',
 'product_photos_qty',
 'product_weight_g',
 'product_length_cm',
 'product_height_cm',
 'product_width_cm']

In [11]:
# suppression des 6 colonnes "product_name_lenght","product_description_lenght","product_weight_g","product_length_cm","product_height_cm","product_width_cm"

df_products = df_products.drop(axis=1,columns=["product_name_lenght","product_description_lenght","product_weight_g","product_length_cm","product_height_cm","product_width_cm"])

In [12]:
# Les colonnes après suppression

list(df_products.columns)

['product_id', 'product_category_name', 'product_photos_qty']

### Items :

In [14]:
# Les colonnes avant suppression

list(df_items.columns)

['order_id',
 'order_item_id',
 'product_id',
 'seller_id',
 'shipping_limit_date',
 'price',
 'freight_value']

In [15]:
# suppression de la colonne "shipping_limit_date"

df_items = df_items.drop(axis=1,columns="shipping_limit_date")

In [16]:
# Les colonnes après suppression

list(df_items.columns)

['order_id',
 'order_item_id',
 'product_id',
 'seller_id',
 'price',
 'freight_value']

### Reviews :

In [17]:
# Les colonnes avant suppression

list(df_reviews.columns)

['review_id',
 'order_id',
 'review_score',
 'review_comment_title',
 'review_comment_message',
 'review_creation_date',
 'review_answer_timestamp']

In [18]:
# suppression de la colonne "review_comment_title","review_comment_message" et "review_creation_date"

df_reviews = df_reviews.drop(axis=1,columns=["review_comment_title","review_comment_message","review_creation_date"])

In [19]:
# Les colonnes après suppression

list(df_reviews.columns)

['review_id', 'order_id', 'review_score', 'review_answer_timestamp']

### Geo :

In [20]:
# Les colonnes avant suppression

list(df_geo.columns)

['geolocation_zip_code_prefix',
 'geolocation_lat',
 'geolocation_lng',
 'geolocation_city',
 'geolocation_state']

In [21]:
# suppression de la colonne "review_comment_title","review_comment_message" et "review_creation_date"

df_geo = df_geo.drop(axis=1,columns=["geolocation_lat","geolocation_lng"])

In [22]:
# Les colonnes après suppression

list(df_geo.columns)

['geolocation_zip_code_prefix', 'geolocation_city', 'geolocation_state']