## Initialisation :

In [396]:
import pandas as pd

# lecture des csv sous le format dataframe 

df_customer = pd.read_csv("csv/olist_customers_dataset.csv")
df_geo = pd.read_csv("csv/olist_geolocation_dataset.csv")
df_items = pd.read_csv("csv/olist_order_items_dataset.csv")
df_payments = pd.read_csv("csv/olist_order_payments_dataset.csv")
df_reviews = pd.read_csv("csv/olist_order_reviews_dataset.csv")
df_orders = pd.read_csv("csv/olist_orders_dataset.csv")
df_products = pd.read_csv("csv/olist_products_dataset.csv")
df_sellers = pd.read_csv("csv/olist_sellers_dataset.csv")
df_categ = pd.read_csv("csv/product_category_name_translation.csv")

In [397]:
# Mettre les dataframes dans un dictionnaire pour facilement les parcourir

dict_df = { "df_customer" : df_customer,
            "df_geo" : df_geo,
            "df_items" : df_items , 
            "df_payments" : df_payments ,
            "df_reviews" : df_reviews ,
            "df_orders" : df_orders ,
            "df_products" : df_products ,
            "df_sellers" : df_sellers ,
            "df_categ" : df_categ }

# extraction des noms de colonnes de tous les dataframes et les stocker dans un dictionnaire

dict_col = {}

for key in dict_df:

    dict_col[key] = list(dict_df[key].columns)

## Sélection des colonnes :

### Orders :

In [398]:
# Les colonnes avant suppression

list(df_orders.columns)

['order_id',
 'customer_id',
 'order_status',
 'order_purchase_timestamp',
 'order_approved_at',
 'order_delivered_carrier_date',
 'order_delivered_customer_date',
 'order_estimated_delivery_date']

In [399]:
# suppression des 2 colonnes "order_approved_at"et "order_delivered_carrier_date"

df_orders = df_orders.drop(axis=1,columns=["order_approved_at","order_delivered_carrier_date"])

In [400]:
# Les colonnes après suppression

list(df_orders.columns)

['order_id',
 'customer_id',
 'order_status',
 'order_purchase_timestamp',
 'order_delivered_customer_date',
 'order_estimated_delivery_date']

### Products :

In [401]:
# Les colonnes avant suppression

list(df_products.columns)

['product_id',
 'product_category_name',
 'product_name_lenght',
 'product_description_lenght',
 'product_photos_qty',
 'product_weight_g',
 'product_length_cm',
 'product_height_cm',
 'product_width_cm']

In [402]:
# suppression des 6 colonnes "product_name_lenght","product_description_lenght","product_weight_g","product_length_cm","product_height_cm","product_width_cm"

df_products = df_products.drop(axis=1,columns=["product_name_lenght","product_description_lenght","product_weight_g","product_length_cm","product_height_cm","product_width_cm"])

In [403]:
# Les colonnes après suppression

list(df_products.columns)

['product_id', 'product_category_name', 'product_photos_qty']

### Items :

In [404]:
# Les colonnes avant suppression

list(df_items.columns)

['order_id',
 'order_item_id',
 'product_id',
 'seller_id',
 'shipping_limit_date',
 'price',
 'freight_value']

In [405]:
# suppression de la colonne "shipping_limit_date"

df_items = df_items.drop(axis=1,columns="shipping_limit_date")

In [406]:
# Les colonnes après suppression

list(df_items.columns)

['order_id',
 'order_item_id',
 'product_id',
 'seller_id',
 'price',
 'freight_value']

### Reviews :

In [407]:
# Les colonnes avant suppression

list(df_reviews.columns)

['review_id',
 'order_id',
 'review_score',
 'review_comment_title',
 'review_comment_message',
 'review_creation_date',
 'review_answer_timestamp']

In [408]:
# suppression de la colonne "review_comment_title","review_comment_message" et "review_creation_date"

df_reviews = df_reviews.drop(axis=1,columns=["review_comment_title","review_comment_message","review_creation_date"])

In [409]:
# Les colonnes après suppression

list(df_reviews.columns)

['review_id', 'order_id', 'review_score', 'review_answer_timestamp']

### Geo :

In [410]:
# Les colonnes avant suppression

list(df_geo.columns)

['geolocation_zip_code_prefix',
 'geolocation_lat',
 'geolocation_lng',
 'geolocation_city',
 'geolocation_state']

In [411]:
# suppression de la colonne "review_comment_title","review_comment_message" et "review_creation_date"

df_geo = df_geo.drop(axis=1,columns=["geolocation_lat","geolocation_lng"])

In [412]:
# Les colonnes après suppression

list(df_geo.columns)

['geolocation_zip_code_prefix', 'geolocation_city', 'geolocation_state']

## Merge

In [413]:
# merges on 'order_id'

df = df_orders.merge(df_payments, how= 'left', on = 'order_id')

df = df.merge(df_items, how= 'left', on = 'order_id')

df = df.merge(df_reviews, how= 'left', on = 'order_id')

# merges on 'customer_id'

df = df.merge(df_customer, how= 'left', on = 'customer_id')

# merges on 'seller_id'

df = df.merge(df_sellers, how= 'left', on = 'seller_id')

# merges on 'product_id'

df = df.merge(df_products, how= 'left', on = 'product_id')

## Analyse :

In [414]:
# from pandas_profiling import ProfileReport


# profile = ProfileReport(df, title="Pandas Profiling Report")
# profile.to_widgets()
# profile.to_notebook_iframe()

## Nettoyage :

### Traduction et regroupement des catégories :

In [415]:
# création d'un dictionnaire pour une réduction des catégories

categories = {

 'health_beauty': 'Health_Beauty',
 'perfumery': 'Health_Beauty',
 'computers': 'Technology',
 'pc_gamer' : 'Technology',
 'computers_accessories': 'Technology',
 'electronics': 'Technology',
 'tablets_printing_image': 'Technology',
 'telephony': 'Technology',
 'fixed_telephony': 'Technology',
 'auto': 'Automotive',
 'small_appliances_home_oven_and_coffee': 'Home',
 'home_comfort_2': 'Home',
 'home_appliances_2': 'Home',
 'home_confort': 'Home',
 'air_conditioning': 'Home',
 'small_appliances': 'Home',
 'bed_bath_table': 'Home',
 'furniture_decor': 'Home',
 'housewares': 'Home',
 'home_appliances': 'Home',
 'home_comfort': 'Home',
 'kitchen_dining_laundry_garden_furniture': 'Home',
 'portable_kitchen_food_preparers' : 'Home',
 'fashio_female_clothing': 'Fashion_Accessories',
 'luggage_accessories': 'Fashion_Accessories',
 'fashion_bags_accessories': 'Fashion_Accessories',
 'fashion_shoes': 'Fashion_Accessories',
 'watches_gifts': 'Fashion_Accessories',
 'fashion_male_clothing': 'Fashion_Accessories',
 'fashion_female_clothing': 'Fashion_Accessories',
 'fashion_childrens_clothes': 'Fashion_Accessories',
 'fashion_underwear_beach': 'Fashion_Accessories',
 'fashion_sport': 'Fashion_Accessories',
 'sports_leisure': 'Sports_Leisure',
 'food_drink': 'Food_Beverage',
 'la_cuisine': 'Food_Beverage',
 'food': 'Food_Beverage',
 'drinks': 'Food_Beverage',
 'baby': 'Baby',
 'diapers_and_hygiene': 'Baby',
 'stationery': 'Office_Supplies',
 'office_furniture': 'Office_Supplies',
 'flowers': 'Gardening',
 'costruction_tools_garden': 'Gardening',
 'books_general_interest': 'Books',
 'books_technical': 'Books',
 'books_imported': 'Books',
 'cds_dvds_musicals': 'Books',
 'dvds_blu_ray': 'Books',
 'art': 'Arts_Music',
 'audio': 'Arts_Music',
 'music': 'Arts_Music',
 'arts_and_craftmanship': 'Arts_Music',
 'cine_photo': 'Arts_Music',
 'musical_instruments': 'Arts_Music',
 'toys': 'Toys_Games',
 'consoles_games': 'Toys_Games',
 'cool_stuff': 'Toys_Games',
 'party_supplies': 'Party_Supplies',
 'christmas_supplies': 'Party_Supplies',
 'home_construction': 'Construction_Tools',
 'costruction_tools_tools': 'Construction_Tools',
 'construction_tools_construction': 'Construction_Tools',
 'garden_tools': 'Construction_Tools',
 'construction_tools_lights': 'Construction_Tools',
 'construction_tools_safety': 'Construction_Tools',
 'pet_shop': 'Pet_Supplies',
 'industry_commerce_and_business': 'Agro_Industry_Commerce',
 'agro_industry_and_commerce': 'Agro_Industry_Commerce',
 'furniture_mattress_and_upholstery': 'Furniture',
 'furniture_living_room': 'Furniture',
 'furniture_bedroom': 'Furniture',
 'market_place': 'Market_place',
 'signaling_and_security': 'Signaling_Security',
 'security_and_services': 'Signaling_Security'
 
 }

In [416]:
# création d'un dictionnaire pour la traduction des catégories en anglais

translator = df_categ.set_index('product_category_name')['product_category_name_english'].to_dict()

# Ajout des deux catégories manquantes à notre dictionnaire

translator["portateis_cozinha_e_preparadores_de_alimentos"] = "portable_kitchen_food_preparers"
translator["pc_gamer"] ="pc_gamer"


translator

{'beleza_saude': 'health_beauty',
 'informatica_acessorios': 'computers_accessories',
 'automotivo': 'auto',
 'cama_mesa_banho': 'bed_bath_table',
 'moveis_decoracao': 'furniture_decor',
 'esporte_lazer': 'sports_leisure',
 'perfumaria': 'perfumery',
 'utilidades_domesticas': 'housewares',
 'telefonia': 'telephony',
 'relogios_presentes': 'watches_gifts',
 'alimentos_bebidas': 'food_drink',
 'bebes': 'baby',
 'papelaria': 'stationery',
 'tablets_impressao_imagem': 'tablets_printing_image',
 'brinquedos': 'toys',
 'telefonia_fixa': 'fixed_telephony',
 'ferramentas_jardim': 'garden_tools',
 'fashion_bolsas_e_acessorios': 'fashion_bags_accessories',
 'eletroportateis': 'small_appliances',
 'consoles_games': 'consoles_games',
 'audio': 'audio',
 'fashion_calcados': 'fashion_shoes',
 'cool_stuff': 'cool_stuff',
 'malas_acessorios': 'luggage_accessories',
 'climatizacao': 'air_conditioning',
 'construcao_ferramentas_construcao': 'construction_tools_construction',
 'moveis_cozinha_area_de_servico_jantar_e_jardim': 'kitchen_dining_laundry_garden_furniture',
 'construcao_ferramentas_jardim': 'costruction_tools_garden',
 'fashion_roupa_masculina': 'fashion_male_clothing',
 'pet_shop': 'pet_shop',
 'moveis_escritorio': 'office_furniture',
 'market_place': 'market_place',
 'eletronicos': 'electronics',
 'eletrodomesticos': 'home_appliances',
 'artigos_de_festas': 'party_supplies',
 'casa_conforto': 'home_confort',
 'construcao_ferramentas_ferramentas': 'costruction_tools_tools',
 'agro_industria_e_comercio': 'agro_industry_and_commerce',
 'moveis_colchao_e_estofado': 'furniture_mattress_and_upholstery',
 'livros_tecnicos': 'books_technical',
 'casa_construcao': 'home_construction',
 'instrumentos_musicais': 'musical_instruments',
 'moveis_sala': 'furniture_living_room',
 'construcao_ferramentas_iluminacao': 'construction_tools_lights',
 'industria_comercio_e_negocios': 'industry_commerce_and_business',
 'alimentos': 'food',
 'artes': 'art',
 'moveis_quarto': 'furniture_bedroom',
 'livros_interesse_geral': 'books_general_interest',
 'construcao_ferramentas_seguranca': 'construction_tools_safety',
 'fashion_underwear_e_moda_praia': 'fashion_underwear_beach',
 'fashion_esporte': 'fashion_sport',
 'sinalizacao_e_seguranca': 'signaling_and_security',
 'pcs': 'computers',
 'artigos_de_natal': 'christmas_supplies',
 'fashion_roupa_feminina': 'fashio_female_clothing',
 'eletrodomesticos_2': 'home_appliances_2',
 'livros_importados': 'books_imported',
 'bebidas': 'drinks',
 'cine_foto': 'cine_photo',
 'la_cuisine': 'la_cuisine',
 'musica': 'music',
 'casa_conforto_2': 'home_comfort_2',
 'portateis_casa_forno_e_cafe': 'small_appliances_home_oven_and_coffee',
 'cds_dvds_musicais': 'cds_dvds_musicals',
 'dvds_blu_ray': 'dvds_blu_ray',
 'flores': 'flowers',
 'artes_e_artesanato': 'arts_and_craftmanship',
 'fraldas_higiene': 'diapers_and_hygiene',
 'fashion_roupa_infanto_juvenil': 'fashion_childrens_clothes',
 'seguros_e_servicos': 'security_and_services',
 'portateis_cozinha_e_preparadores_de_alimentos': 'portable_kitchen_food_preparers',
 'pc_gamer': 'pc_gamer'}

In [417]:
# Traduire la colonne des catégories

df["product_category_name"] = df["product_category_name"].map(translator)

df["product_category_name"]

0                    housewares
1                    housewares
2                    housewares
3                     perfumery
4                          auto
                  ...
119138                     baby
119139        home_appliances_2
119140    computers_accessories
119141    computers_accessories
119142            health_beauty
Name: product_category_name, Length: 119143, dtype: object

In [418]:
# réduire le nombre des catégories

df["product_category_name"] = df["product_category_name"].map(categories)

df["product_category_name"]

0                  Home
1                  Home
2                  Home
3         Health_Beauty
4            Automotive
              ...
119138             Baby
119139             Home
119140       Technology
119141       Technology
119142    Health_Beauty
Name: product_category_name, Length: 119143, dtype: object

In [419]:
# transformation colonnes dates

time_col = ['order_purchase_timestamp','order_delivered_customer_date','order_estimated_delivery_date','review_answer_timestamp']
ref_date = pd.to_datetime('2018-12-31')

for col in time_col:
    df[col] = pd.to_datetime(df[col])

    df[col] = (ref_date -  df[col]).dt.days

In [420]:
df[time_col]

,order_purchase_timestamp,order_delivered_customer_date,order_estimated_delivery_date,review_answer_timestamp
0,454,446.0,439,444.0
1,454,446.0,439,444.0
2,454,446.0,439,444.0
3,159,145.0,140,144.0
4,144,135.0,118,130.0
...,...,...,...,...
119138,327,305.0,304,303.0
119139,490,465.0,460,464.0
119140,356,339.0,319,337.0
119141,356,339.0,319,337.0
119142,297,289.0,272,288.0

In [421]:
# transformation des colonnes zip

df['seller_zip_code_prefix'] = df['seller_zip_code_prefix'].astype(str).str[:-2]
df['customer_zip_code_prefix'] = df['customer_zip_code_prefix'].astype(str)

In [422]:
# suppression des lignes où les statut des ordre est indisponible

df = df.drop(df[df["order_status"] == "unavailable"].index)
df = df.dropna()

In [423]:
# inspection des valeurs de la colonne des photos des produits

df['product_photos_qty'].value_counts()

1.0     57190
2.0     22410
3.0     12619
4.0      8594
5.0      5462
6.0      3836
7.0      1522
8.0       757
10.0      346
9.0       300
11.0       73
12.0       59
13.0       30
15.0       11
17.0       11
14.0        6
18.0        4
20.0        1
19.0        1
Name: product_photos_qty, dtype: int64

In [424]:
df['product_photos_qty'] = df['product_photos_qty'].where(~(df['product_photos_qty'].isnull()), 0)
df['product_photos_qty'] = df['product_photos_qty'].where(~(df['product_photos_qty'] > 7), 7)
df['payment_installments'] = df['payment_installments'].where(~(df['payment_installments'].isnull()), 1)
df['payment_sequential'] = df['payment_sequential'].where(~(df['payment_sequential'].isnull()), 1)

In [425]:
df.isna().sum()

order_id                         0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_delivered_customer_date    0
order_estimated_delivery_date    0
payment_sequential               0
payment_type                     0
payment_installments             0
payment_value                    0
order_item_id                    0
product_id                       0
seller_id                        0
price                            0
freight_value                    0
review_id                        0
review_score                     0
review_answer_timestamp          0
customer_unique_id               0
customer_zip_code_prefix         0
customer_city                    0
customer_state                   0
seller_zip_code_prefix           0
seller_city                      0
seller_state                     0
product_category_name            0
product_photos_qty               0
dtype: int64

In [426]:
int_col = ["payment_sequential","payment_installments","order_item_id","review_score","review_answer_timestamp","product_photos_qty","order_delivered_customer_date"]
object_col = ["order_item_id","customer_zip_code_prefix"]

for col in int_col:
    
    df[col] = pd.to_numeric(df[col], errors='coerce',downcast='integer')

In [427]:
df.drop("customer_id",axis=1, inplace=True)
df.drop("order_status",axis=1, inplace=True)

In [428]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113232 entries, 0 to 119142
Data columns (total 25 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       113232 non-null  object
 1   order_purchase_timestamp       113232 non-null  int64
 2   order_delivered_customer_date  113232 non-null  int16
 3   order_estimated_delivery_date  113232 non-null  int64
 4   payment_sequential             113232 non-null  int8
 5   payment_type                   113232 non-null  object
 6   payment_installments           113232 non-null  int8
 7   payment_value                  113232 non-null  float64
 8   order_item_id                  113232 non-null  int8
 9   product_id                     113232 non-null  object
 10  seller_id                      113232 non-null  object
 11  price                          113232 non-null  float64
 12  freight_value                  113232 non-null  float64
 13  review_id                      113232 non-null  object
 14  review_score                   113232 non-null  int8
 15  review_answer_timestamp        113232 non-null  int16
 16  customer_unique_id             113232 non-null  object
 17  customer_zip_code_prefix       113232 non-null  object
 18  customer_city                  113232 non-null  object
 19  customer_state                 113232 non-null  object
 20  seller_zip_code_prefix         113232 non-null  object
 21  seller_city                    113232 non-null  object
 22  seller_state                   113232 non-null  object
 23  product_category_name          113232 non-null  object
 24  product_photos_qty             113232 non-null  int8
dtypes: float64(3), int16(2), int64(2), int8(5), object(13)
memory usage: 17.4+ MB

In [429]:
df

,order_id,order_purchase_timestamp,order_delivered_customer_date,order_estimated_delivery_date,payment_sequential,payment_type,payment_installments,payment_value,order_item_id,product_id,...,review_answer_timestamp,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,seller_zip_code_prefix,seller_city,seller_state,product_category_name,product_photos_qty
0,e481f51cbdc54678b7cc49136f2d6af7,454,446,439,1,credit_card,1,18.12,1,87285b34884572647811a353c7ac498a,...,444,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,9350,maua,SP,Home,4
1,e481f51cbdc54678b7cc49136f2d6af7,454,446,439,3,voucher,1,2.00,1,87285b34884572647811a353c7ac498a,...,444,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,9350,maua,SP,Home,4
2,e481f51cbdc54678b7cc49136f2d6af7,454,446,439,2,voucher,1,18.59,1,87285b34884572647811a353c7ac498a,...,444,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,9350,maua,SP,Home,4
3,53cdb2fc8bc7dce0b6741e2150273451,159,145,140,1,boleto,1,141.46,1,595fac2a385ac33a80bd5114aec74eb8,...,144,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,31570,belo horizonte,SP,Health_Beauty,1
4,47770eb9100c2d0c44946d9cf07ec65d,144,135,118,1,credit_card,3,179.12,1,aa4383b373c6aca5d8797843e5594415,...,130,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,14840,guariba,SP,Automotive,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119138,63943bddc261676b46f01ca7ac2f7bd8,327,305,304,1,credit_card,3,195.00,1,f1d4ce8c6dd66c47bbaa8c6781c2a923,...,303,da62f9e57a76d978d02ab5362c509660,11722,praia grande,SP,17602,tupa,SP,Baby,4
119139,83c1379a015df1e13d02aae0204711ab,490,465,460,1,credit_card,5,271.01,1,b80910977a37536adeddd63663f916ad,...,464,737520a9aad80b3fbbdad19b66b37b30,45920,nova vicosa,BA,8290,sao paulo,SP,Home,2
119140,11c177c8e97725db2631073c19f07b62,356,339,319,1,credit_card,4,441.16,1,d1c427060a0f73f6b889a5c7c61f2ac4,...,337,5097a5312c8b157bb7be58ae360ef43c,28685,japuiba,RJ,37175,ilicinea,MG,Technology,1
119141,11c177c8e97725db2631073c19f07b62,356,339,319,1,credit_card,4,441.16,2,d1c427060a0f73f6b889a5c7c61f2ac4,...,337,5097a5312c8b157bb7be58ae360ef43c,28685,japuiba,RJ,37175,ilicinea,MG,Technology,1
119142,66dea50a8b16d9b4dee7af250b4be1a5,297,289,272,1,debit_card,1,86.86,1,006619bbed68b000c8ba3f8725d5409e,...,288,60350aa974b26ff12caad89e55993bd6,83750,lapa,PR,14407,franca,SP,Health_Beauty,1

In [430]:
# save the dataframe as csv file

df.to_csv("Olist.csv",index=False)